@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*,*::before,*::after{
    box-sizing: border-box;
}
body{
    margin:0px;
    font-family: 'Roboto',sans-serif;
    font-size: 1.3rem;
}
img{
    max-width: 100%;
}
.container{
    margin: 0 auto;
    height:100%;
    padding-right:2em;
}
.nav::-webkit-scrollbar{
    display: none;
}
.mainContent::-webkit-scrollbar{
    display: none;
}
.requests::-webkit-scrollbar{
    display: none;
}
a{
    margin: 0;
    padding:0;
    text-decoration: none;
    color:black;
}


#mainLogo{
    width:120px;
    height:100px;
}

.companyLogo{
    padding-left:0.6em;
    margin:0px;
    display: flex;
    gap:1em;
    font-weight: 800;
    align-items: center;
}
.mainContainer{
    display: flex;
    margin:0px;
    padding:0px;
}
.mainContent{
    width:100%;
    padding:0px;
    margin:0px;
}
.requests{
    height:100vh;
    list-style: none;
    overflow-y:auto;
}
.mainContent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height:100vh;
    overflow-y:auto;
}
.card{
    border: 2px solid rgb(208, 205, 205);
    padding:1em;
    line-height: 0.1em;
}
.transporterImg{
    width:200px;
    height:180px;
    border: 2px solid green;
    border-radius: 2em;
    margin-left:0.5em;
    align-self: center;
}
.transporterImg{
    display: block;
    margin:auto;
}
.biodata{
    margin:2em auto;
    padding:0.8em;
    margin-bottom:1.2em;
    border: 2px solid rgb(180, 176, 176);
    width:100%;
}
#acceptBox{
    background-color:hsl(100,70%,60%);
    color:white;

}
#rejectBox{
    background-color:hsl(0,80%,60%);
    color:white;
}
.buttons{
    display: flex;
    align-items: center;
    gap:4em;
    width:60%;
    margin:0 auto;
}
button{
    margin-right:0.6em;
}
#requestId{
    display: none;
}
.decision{
    display: none;
}


/*             Styling the side bar            */
.nav{
    height: 100vh;
    width:25%;
    overflow-y: auto;
}
.sidebar__content{
    list-style: none;
    margin:0;
    padding:0;
    height: 100%;
    font-size: 1.2rem;
}
.sidebar__img{
    width:120px;
    height: 100px;
}
.sidebar{
    padding-top:2.2em;
    border: 2px solid black;
    height: 100vh;
}
.sidebar__content__item{
    display: flex;
    align-items: center;
    gap:1em;
    font-size:1.4rem;
    border-bottom:2px solid rgb(180, 176, 176);
    padding:0px;
    margin:0px;
}
#invisibleSpan{
    display: none;
}