@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*,*::before,*::after{
    box-sizing: border-box;
}
body{
    margin:0px;
    padding:0px;
    font-family: 'Roboto',sans-serif;
    font-size: 1.3rem;
}
img{
    max-width: 100%;
}
.item{
    border: 2px solid black;
    padding:1.2em;
    margin:0px;
}
.myContainer::-webkit-scrollbar{
    display: none;
}
.mainContent{
    width:100%;
    padding-top:1em;
    padding-left:2em;
    padding-right:2em;
    background-color: rgba(232, 231, 231, 0.73);
}
.myContainer{
    margin:0.6em auto;
    width:70%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-height: 80vh;
    overflow-y:scroll;
}
.mainHeading{
    text-align: center;
    margin-top:0.2em;
    color: rgb(235, 77, 77);
}
.cards{
    border: 1px solid rgb(140, 140, 140);
    /* display: flex;
    flex-direction: column;
    padding:0px;
    margin:0px;
    justify-content: space-between; */
    /* justify-content: space-ar; */
    /* border: 2px solid red; */
    /* border: 2px solid black; */
    /* box-sizing: content-box; */
    /* background-color: aqua; */
}
.orderHeading{
    border-bottom:1px solid rgb(205, 203, 203);
    text-align: center;
    padding:0.2em;
    margin:0px;
}
.innerContent{
    padding:0px;
    margin:0px;
    width: 100%;
    /* background-color: green; */
}
.innerMain{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 89%;
}
.innerContent li{
    list-style: none;
    display: flex;
    align-items: center;
    border-bottom:1px solid rgb(205, 203, 203);
}
.innerContent li figure{
    width:28%;
    padding:0.4em;
    margin:0px;
}
.innerContent li img{
    border:0.2px solid rgb(188, 183, 183);
    border-radius: 50%;
}
.cardConent h3{
    font-size:1rem;
}
.cancelButton{
    display: block;
    margin:0 auto;
    padding:0.8em 1em;
    border-radius: 2em;
    font-weight: 600;
    background-color: rgba(235, 77, 77,0.8);
    border:1.2px solid black;
}
.field input{
    background:none;
    outline:none;
    border:none;
    font-size: 1rem;
    font-weight: 600;
}
.field input:disabled{
    color:black;
}
.btnClass{
    padding:0.5em 0.2em;
}
.btnClass h3{
    font-size: 1.2rem;
    text-align: center;
}
.cancelButton:hover{
    text-decoration: underline;
    color:white;
    cursor:pointer;
}

/*             Styling the side bar            */
.mainContainer{
    display: flex;
    margin:0px;
    padding:0px;
}
.nav::-webkit-scrollbar{
    display: none;
}
.nav{
    height: 100vh;
    width:25%;
    overflow-y: auto;
}
.sidebar__content{
    list-style: none;
    margin:0;
    padding:0;
    /* height: 100%; */
    font-size: 1.2rem;
    /* border: 2px solid blue; */
}
.sidebar__img{
    width:120px;
    height: 100px;
}
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top:2.2em;
    border: 2px solid black;
    height: 100vh;
}
.sidebar__content__item{
    display: flex;
    align-items: center;
    gap:1em;
    font-size:1.4rem;
    border-bottom:2px solid rgb(180, 176, 176);
    padding:0px;
    margin:0px;
}
.sidebar__content__item:hover{
    background-color: hsl(100,70%,60%);
    cursor: pointer;
    color: white;
    text-decoration: underline;
}
.sidebar__content__item a:hover{
    color:white;
    text-decoration: underline;
}
.item-1:hover{
    background-color: white;
    color:black;
    cursor: pointer;
    text-decoration: underline;
}
.item-1 a:hover{
    color:black;
    text-decoration: underline;
}
a{
    color:black;
}
a:visited{
    color:black;
}
.logout{
    /* filter:invert(60) */
    /* border: 2px solid red; */
    margin-bottom:1em;
    /* padding:1.2em 1.6em; */
    display: flex;
    align-items: center;
    font-size:1.4rem;
    padding-left:1.2em;
    gap:1em;
}
.manageInventory{
    width:100%;
    display: none;
    background-color: hsl(100,70%,60%);
    border: 2px solid rgb(180, 176, 176);
    list-style: "\270D";
    line-height: 2em;
    padding:2em;
}
.manageInventory:hover{
    color:white;
}
.manageInventory a:hover{
    text-decoration: underline;
}
.inventory{
    /* border:2px solid red; */
    display: flex;
    width:100%;
    align-items: center;
    text-align: center;
    gap:1em;
    text-decoration: underline;
    /* display: none; */
}
.inventory figcaption{
    width:80%;
    padding:0px;
    margin:0px;
    text-align: left;
}
.inventory img{
    width: 41%;
}
.logout:hover{
    background-color: rgb(231, 112, 112);;
}
.logout a:hover{
    text-decoration: underline;
    color: white;
}
.logoutimg{
    scale:0.6;
}
#profileImg{
    scale:0.48;
}
.hidden{
    display: none;
}