<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="cart.css">
</head>
<body>
    <header>
        <img src="Company_logo.PNG" class="logo" alt="">
        <nav>
            <ul class="navbar">
                <li><a href="">Home</a></li>
                <li><a href="">Account</a></li>
                <li><a href="">Brands</a></li>
                <!-- <li></li> -->
            </ul>
        </nav>
    </header>
    <form class="container">
        <div class="row header">
            <div class="col item">
                Product
            </div>
            <div class="col Quantity">
                Quantity
            </div>
            <div class="col Subtotal">
                Subtotal
            </div>
        </div>
        <div class="row product">
            <div class="col item">
                <figure class="myProducts">
                    <img src="Fruits-and-Vegetables.jpg" alt="">
                    <div class = "desc">
                        <h3>Product Name</h3>
                        <h3>₹ 100</h3>
                        <a href="">Remove Product</a>
                    </div>
                </figure>
            </div>
            <div class="col Quantity">
                <input type="number">
            </div>
            <div class="col Subtotal">
                <h3>₹ 100</h3>
            </div>
        </div>
        <div class="row product">
            <div class="col item">
                <figure class="myProducts">
                    <img src="Fruits-and-Vegetables.jpg" alt="">
                    <div class = "desc">
                        <h3>Product Name</h3>
                        <h3>₹ 100</h3>
                        <a href="">Remove Product</a>
                    </div>
                </figure>
            </div>
            <div class="col Quantity">
                <input type="number">
            </div>
            <div class="col Subtotal">
                <h3>₹ 100</h3>
            </div>
        </div>
        <div class="row product">
            <div class="col item">
                <figure class="myProducts">
                    <img src="Fruits-and-Vegetables.jpg" alt="">
                    <div class = "desc">
                        <h3>Product Name</h3>
                        <h3>₹ 100</h3>
                        <a href="">Remove Product</a>
                    </div>
                </figure>
            </div>
            <div class="col Quantity">
                <input type="number">
            </div>
            <div class="col Subtotal">
                <h3>₹ 100</h3>
            </div>
        </div>
        <div class="row product">
            <div class="col item">
                <figure class="myProducts">
                    <img src="Fruits-and-Vegetables.jpg" alt="">
                    <div class = "desc">
                        <h3>Product Name</h3>
                        <h3>₹ 100</h3>
                        <a href="">Remove Product</a>
                    </div>
                </figure>
            </div>
            <div class="col Quantity">
                <input type="number">
            </div>
            <div class="col Subtotal">
                <h3>₹ 100</h3>
            </div>
        </div>
        <div class="row product">
            <div class="col item">

            </div>
            <div class="finaltotal">
                <div class="addedItem">
                    <h3>Subtotal</h3>
                    <h3>Taxes</h3>
                    <h3>Final Price</h3>
                </div>
                <div class="finalPrice">
                    <h3>₹ 100</h3>
                    <h3>₹ 100</h3>
                    <h3>₹ 100</h3>
                </div>
            </div>
        </div>
        <div class="row product">
            <div class="col item">

            </div>
            <di class="checkout">
                <button type="submit">Proceed to Checkout</button>
            </div>
        </div>
    </form>
</body>
</html>