{% extends 'shop/base.html' %}
{% load static %}

{% block scripts %}
    <link rel="stylesheet" href="{% static 'shop/index_final3.css' %}">
    <script src="{% static 'shop/index_script.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="header">
        <div class="container">
            <div class="row">
                <nav class="nav">
                    <ul class="nav__list nav__list--primary">
                        {% for i in categories1  %}
                        <li class="nav__item"><a href="/shop/home/{{i.0}}/1" class="nav__link">{{i.1}}</a></li> 
                        {% endfor %} 
                        <li class="nav__item more"><a href="#" class="nav__link more">More &#8964;</a>
                            <div class="dropdown">
                                <ul>
                                    {% for i in categories2 %}
                                    <li><a href="/shop/home/{{i.0}}/1">{{i.1}}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="gridContainer">
            <div class="flex">
                <ul class="horizontalCards">
                    {% for i in subCategories %}
                    <li class="horizontalItem{{i.1}} horizontalCard">
                        <a href="/shop/home/{{ActiveCategoryId}}/{{i.1}}"><img src="{% static 'shop/Fruits-and-Vegetables.jpg' %}" alt="" class="horizontalImg"></a>
                        <h5>{{i.2}}</h5>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="grid">
                <div class="specialGrid">
                    <div class="specialFlex">
                        <h3>Buy {{ActiveSubCategory}} Online</h3>
                        {% csrf_token %}
                    </div>
                </div>
                {% for i in products %}
                <div class="item{{i.2}} card">
                    <figure>
                        <img src="{% static 'shop/milk.jpg' %}" alt="Amul Doodh peeta  hai India" class="card__img">
                    </figure>
                    <div class="content">
                        <h5>{{i.3}}</h5>
                        <h6>{{i.4}}</h6>
                        <h6>{{i.5}}</h6>
                        <div class="subContent">
                            <h6><s>₹{{i.7}}</s>₹{{i.8}}</h6>
                            <button class = "CartButton {{i.0}} {{i.1}}" id = "{{i.2}}">Add to Cart</button>
                            <button class="AddedButton {{i.0}} {{i.1}}" id = "{{i.2}}">&check;</button>
                            <!-- <div class="AddedButton {{i.0}} {{i.1}}"><button class="minusButton">-</button> 1 <button class="plusButton">+</button></div> -->
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}