<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'shop/index_final.css' %}">
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <nav class="nav">
                    <ul class="nav__list nav__list--primary">
                        <li class="nav__item"><a href="#" class="nav__link">Vegetables</a></li>
                        <li class="nav__item"><a href="#" class="nav__link">Dairy and Breakfast</a></li>
                        <li class="nav__item"><a href="#" class="nav__link">Munchies</a></li>
                        <li class="nav__item"><a href="#" class="nav__link">Cold Drinks and Jucies</a></li>
                        <li class="nav__item"><a href="#" class="nav__link">Instant and Frozen Food</a></li>
                        <li class="nav__item"><a href="#" class="nav__link">Tea, Coffee and Health Drinks</a></li>
                        <li class="nav__item"><a href="#" class="nav__link">Bakery and Biscuits</a></li>
                        <li class="nav__item more"><a href="#" class="nav__link more">More &#8964;</a>
                            <div class="dropdown">
                                <ul>
                                    <li><a href="#">Fruits</a></li>
                                    <li><a href="#">Fruits</a></li>
                                    <li><a href="#">Fruits</a></li>
                                    <li><a href="#">Fruits</a></li>
                                    <li><a href="#">Fruits</a></li>
                                    <li><a href="#">Fruits</a></li>
                                    <li><a href="#">Fruits</a></li>
                                    <li><a href="#">Fruits</a></li>
                                    <li><a href="#">Fruits</a></li>
                                    <li><a href="#">Fruits</a></li>
                                    <li><a href="#">Fruits</a></li>
                                    <li><a href="#">Fruits</a></li>
                                    <li><a href="#">Fruits</a></li>
                                    <li><a href="#">Fruits</a></li>
                                    <li><a href="#">Fruits</a></li>
                                    <li><a href="#">Fruits</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="gridContainer">
            <div class="flex">
                <ul class="horizontalCards">
                    <li class="horizontalItem1 horizontalCard">
                        <img src="{% static 'shop/Fruits-and-Vegetables.jpg' %}" alt="" class="horizontalImg">
                        <h5>Fresh Vegetables</h5>
                    </li>
                    <li class="horizontalItem2 horizontalCard">
                        <img src="{% static 'shop/Fruits-and-Vegetables.jpg' %}" alt="" class="horizontalImg">
                        <h5>Fresh Vegetables</h5>
                    </li>
                    <li class="horizontalItem3 horizontalCard">
                        <img src="{% static 'shop/Fruits-and-Vegetables.jpg' %}" alt="" class="horizontalImg">
                        <h5>Fresh Vegetables</h5>
                    </li>
                    <li class="horizontalItem4 horizontalCard">
                        <img src="{% static 'shop/Fruits-and-Vegetables.jpg' %}" alt="" class="horizontalImg">
                        <h5>Fresh Vegetables</h5>
                    </li>
                    <li class="horizontalItem5 horizontalCard">
                        <img src="{% static 'shop/Fruits-and-Vegetables.jpg' %}" alt="" class="horizontalImg">
                        <h5>Fresh Vegetables</h5>
                    </li>
                    <li class="horizontalItem6 horizontalCard">
                        <img src="{% static 'shop/Fruits-and-Vegetables.jpg' %}" alt="" class="horizontalImg">
                        <h5>Fresh Vegetables</h5>
                    </li>
                    <li class="horizontalItem7 horizontalCard">
                        <img src="{% static 'shop/Fruits-and-Vegetables.jpg' %}" alt="" class="horizontalImg">
                        <h5>Fresh Vegetables</h5>
                    </li>
                    <li class="horizontalItem8 horizontalCard">
                        <img src="{% static 'shop/Fruits-and-Vegetables.jpg' %}" alt="" class="horizontalImg">
                        <h5>Fresh Vegetables</h5>
                    </li>
                    <li class="horizontalItem9 horizontalCard">
                        <img src="{% static 'shop/Fruits-and-Vegetables.jpg' %}" alt="" class="horizontalImg">
                        <h5>Fresh Vegetables</h5>
                    </li>
                    <li class="horizontalItem10 horizontalCard">
                        <img src="{% static 'shop/Fruits-and-Vegetables.jpg' %}" alt="" class="horizontalImg">
                        <h5>Fresh Vegetables</h5>
                    </li>
                    <li class="horizontalItem11 horizontalCard">
                        <img src="{% static 'shop/Fruits-and-Vegetables.jpg' %}" alt="" class="horizontalImg">
                        <h5>Fresh Vegetables</h5>
                    </li>
                    <li class="horizontalItem12 horizontalCard">
                        <img src="{% static 'shop/Fruits-and-Vegetables.jpg' %}" alt="" class="horizontalImg">
                        <h5>Fresh Vegetables</h5>
                    </li>
                    <li class="horizontalItem13 horizontalCard">
                        <img src="{% static 'shop/Fruits-and-Vegetables.jpg' %}" alt="" class="horizontalImg">
                        <h5>Fresh Vegetables</h5>
                    </li>
                    <li class="horizontalItem14 horizontalCard">
                        <img src="{% static 'shop/Fruits-and-Vegetables.jpg' %}" alt="" class="horizontalImg">
                        <h5>Fresh Vegetables</h5>
                    </li>
                    <li class="horizontalItem15 horizontalCard">
                        <img src="{% static 'shop/Fruits-and-Vegetables.jpg' %}" alt="" class="horizontalImg">
                        <h5>Fresh Vegetables</h5>
                    </li>
                    <li class="horizontalItem16 horizontalCard">
                        <img src="{% static 'shop/Fruits-and-Vegetables.jpg' %}" alt="" class="horizontalImg">
                        <h5>Fresh Vegetables</h5>
                    </li>
                    <li class="horizontalItem17 horizontalCard">
                        <img src="{% static 'shop/Fruits-and-Vegetables.jpg' %}" alt="" class="horizontalImg">
                        <h5>Fresh Vegetables</h5>
                    </li>
                    <li class="horizontalItem18 horizontalCard">
                        <img src="{% static 'shop/Fruits-and-Vegetables.jpg' %}" alt="" class="horizontalImg">
                        <h5>Fresh Vegetables</h5>
                    </li>
                    <li class="horizontalItem19 horizontalCard">
                        <img src="{% static 'shop/Fruits-and-Vegetables.jpg' %}" alt="" class="horizontalImg">
                        <h5>Fresh Vegetables</h5>
                    </li>
                    <li class="horizontalItem20 horizontalCard">
                        <img src="{% static 'shop/Fruits-and-Vegetables.jpg' %}" alt="" class="horizontalImg">
                        <h5>Fresh Vegetables</h5>
                    </li>
                </ul>
            </div>
            <div class="grid">
                <div class="specialGrid">
                    <div class="specialFlex">
                        <h3>Buy Milk Online</h3>
                        <div class="checkboxes">
                            <h3>Filters : </h3>
                            <ul>
                                <li>
                                    <input type="checkbox" id="priceFilter" class="toggle" name="priceFilter">
                                    <label for="priceFilter">Price</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="discountFilter" class="toggle" name="discountFilter">
                                    <label for="discountFilter">Discount</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item0 card">
                    <figure>
                        <img src="{% static 'shop/milk.jpg' %}" alt="Amul Doodh peeta  hai India" class="card__img">
                    </figure>
                    <div class="content">
                        <h5>Amul Taaza Toned Fresh Milk</h5>
                        <h6>50ml</h6>
                        <h6>Amul</h6>
                        <div class="subContent">
                            <h6>₹27</h6>
                            <button>Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="item1 card">
                    <figure>
                        <img src="{% static 'shop/milk.jpg' %}" alt="Amul Doodh peeta  hai India" class="card__img">
                    </figure>
                    <div class="content">
                        <h5>Amul Taaza Toned Fresh Milk</h5>
                        <h6>50ml</h6>
                        <h6>Amul</h6>
                        <div class="subContent">
                            <h6>₹27</h6>
                            <button>Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="item2 card">
                    <figure>
                        <img src="{% static 'shop/milk.jpg' %}" alt="Amul Doodh peeta  hai India" class="card__img">
                    </figure>
                    <div class="content">
                        <h5>Amul Taaza Toned Fresh Milk</h5>
                        <h6>50ml</h6>
                        <h6>Amul</h6>
                        <div class="subContent">
                            <h6>₹27</h6>
                            <button>Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="item3 card">
                    <figure>
                        <img src="{% static 'shop/milk.jpg' %}" alt="Amul Doodh peeta  hai India" class="card__img">
                    </figure>
                    <div class="content">
                        <h5>Amul Taaza Toned Fresh Milk</h5>
                        <h6>50ml</h6>
                        <h6>Amul</h6>
                        <div class="subContent">
                            <h6>₹27</h6>
                            <button>Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="item4 card">
                    <figure>
                        <img src="{% static 'shop/milk.jpg' %}" alt="Amul Doodh peeta  hai India" class="card__img">
                    </figure>
                    <div class="content">
                        <h5>Amul Taaza Toned Fresh Milk</h5>
                        <h6>50ml</h6>
                        <h6>Amul</h6>
                        <div class="subContent">
                            <h6>₹27</h6>
                            <button>Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="item5 card">
                    <figure>
                        <img src="{% static 'shop/milk.jpg' %}" alt="Amul Doodh peeta  hai India" class="card__img">
                    </figure>
                    <div class="content">
                        <h5>Amul Taaza Toned Fresh Milk</h5>
                        <h6>50ml</h6>
                        <h6>Amul</h6>
                        <div class="subContent">
                            <h6>₹27</h6>
                            <button>Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="item6 card">
                    <figure>
                        <img src="{% static 'shop/milk.jpg' %}" alt="Amul Doodh peeta  hai India" class="card__img">
                    </figure>
                    <div class="content">
                        <h5>Amul Taaza Toned Fresh Milk</h5>
                        <h6>50ml</h6>
                        <h6>Amul</h6>
                        <div class="subContent">
                            <h6>₹27</h6>
                            <button>Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="item7 card">
                    <figure>
                        <img src="{% static 'shop/milk.jpg' %}" alt="Amul Doodh peeta  hai India" class="card__img">
                    </figure>
                    <div class="content">
                        <h5>Amul Taaza Toned Fresh Milk</h5>
                        <h6>50ml</h6>
                        <h6>Amul</h6>
                        <div class="subContent">
                            <h6>₹27</h6>
                            <button>Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="item8 card">
                    <figure>
                        <img src="{% static 'shop/milk.jpg' %}" alt="Amul Doodh peeta  hai India" class="card__img">
                    </figure>
                    <div class="content">
                        <h5>Amul Taaza Toned Fresh Milk</h5>
                        <h6>50ml</h6>
                        <h6>Amul</h6>
                        <div class="subContent">
                            <h6>₹27</h6>
                            <button>Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="item9 card">
                    <figure>
                        <img src="{% static 'shop/milk.jpg' %}" alt="Amul Doodh peeta  hai India" class="card__img">
                    </figure>
                    <div class="content">
                        <h5>Amul Taaza Toned Fresh Milk</h5>
                        <h6>50ml</h6>
                        <h6>Amul</h6>
                        <div class="subContent">
                            <h6>₹27</h6>
                            <button>Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="item10 card">
                    <figure>
                        <img src="{% static 'shop/milk.jpg' %}" alt="Amul Doodh peeta  hai India" class="card__img">
                    </figure>
                    <div class="content">
                        <h5>Amul Taaza Toned Fresh Milk</h5>
                        <h6>50ml</h6>
                        <h6>Amul</h6>
                        <div class="subContent">
                            <h6>₹27</h6>
                            <button>Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="item11 card">
                    <figure>
                        <img src="{% static 'shop/milk.jpg' %}" alt="Amul Doodh peeta  hai India" class="card__img">
                    </figure>
                    <div class="content">
                        <h5>Amul Taaza Toned Fresh Milk</h5>
                        <h6>50ml</h6>
                        <h6>Amul</h6>
                        <div class="subContent">
                            <h6>₹27</h6>
                            <button>Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="item12 card">
                    <figure>
                        <img src="{% static 'shop/milk.jpg' %}" alt="Amul Doodh peeta  hai India" class="card__img">
                    </figure>
                    <div class="content">
                        <h5>Amul Taaza Toned Fresh Milk</h5>
                        <h6>50ml</h6>
                        <h6>Amul</h6>
                        <div class="subContent">
                            <h6>₹27</h6>
                            <button>Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="item13 card">
                    <figure>
                        <img src="{% static 'shop/milk.jpg' %}" alt="Amul Doodh peeta  hai India" class="card__img">
                    </figure>
                    <div class="content">
                        <h5>Amul Taaza Toned Fresh Milk</h5>
                        <h6>50ml</h6>
                        <h6>Amul</h6>
                        <div class="subContent">
                            <h6>₹27</h6>
                            <button>Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="item14 card">
                    <figure>
                        <img src="{% static 'shop/milk.jpg' %}" alt="Amul Doodh peeta  hai India" class="card__img">
                    </figure>
                    <div class="content">
                        <h5>Amul Taaza Toned Fresh Milk</h5>
                        <h6>50ml</h6>
                        <h6>Amul</h6>
                        <div class="subContent">
                            <h6>₹27</h6>
                            <button>Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="item15 card">
                    <figure>
                        <img src="{% static 'shop/milk.jpg' %}" alt="Amul Doodh peeta  hai India" class="card__img">
                    </figure>
                    <div class="content">
                        <h5>Amul Taaza Toned Fresh Milk</h5>
                        <h6>50ml</h6>
                        <h6>Amul</h6>
                        <div class="subContent">
                            <h6>₹27</h6>
                            <button>Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="item16 card">
                    <figure>
                        <img src="{% static 'shop/milk.jpg' %}" alt="Amul Doodh peeta  hai India" class="card__img">
                    </figure>
                    <div class="content">
                        <h5>Amul Taaza Toned Fresh Milk</h5>
                        <h6>50ml</h6>
                        <h6>Amul</h6>
                        <div class="subContent">
                            <h6>₹27</h6>
                            <button>Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="item17 card">
                    <figure>
                        <img src="{% static 'shop/milk.jpg' %}" alt="Amul Doodh peeta  hai India" class="card__img">
                    </figure>
                    <div class="content">
                        <h5>Amul Taaza Toned Fresh Milk</h5>
                        <h6>50ml</h6>
                        <h6>Amul</h6>
                        <div class="subContent">
                            <h6>₹27</h6>
                            <button>Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="item18 card">
                    <figure>
                        <img src="{% static 'shop/milk.jpg' %}" alt="Amul Doodh peeta  hai India" class="card__img">
                    </figure>
                    <div class="content">
                        <h5>Amul Taaza Toned Fresh Milk</h5>
                        <h6>50ml</h6>
                        <h6>Amul</h6>
                        <div class="subContent">
                            <h6>₹27</h6>
                            <button>Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="item19 card">
                    <figure>
                        <img src="{% static 'shop/milk.jpg' %}" alt="Amul Doodh peeta  hai India" class="card__img">
                    </figure>
                    <div class="content">
                        <h5>Amul Taaza Toned Fresh Milk</h5>
                        <h6>50ml</h6>
                        <h6>Amul</h6>
                        <div class="subContent">
                            <h6>₹27</h6>
                            <button>Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="item20 card">
                    <figure>
                        <img src="{% static 'shop/milk.jpg' %}" alt="Amul Doodh peeta  hai India" class="card__img">
                    </figure>
                    <div class="content">
                        <h5>Amul Taaza Toned Fresh Milk</h5>
                        <h6>50ml</h6>
                        <h6>Amul</h6>
                        <div class="subContent">
                            <h6>₹27</h6>
                            <button>Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="item21 card">
                    <figure>
                        <img src="{% static 'shop/milk.jpg' %}" alt="Amul Doodh peeta  hai India" class="card__img">
                    </figure>
                    <div class="content">
                        <h5>Amul Taaza Toned Fresh Milk</h5>
                        <h6>50ml</h6>
                        <h6>Amul</h6>
                        <div class="subContent">
                            <h6>₹27</h6>
                            <button>Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="item22 card">
                    <figure>
                        <img src="{% static 'shop/milk.jpg' %}" alt="Amul Doodh peeta  hai India" class="card__img">
                    </figure>
                    <div class="content">
                        <h5>Amul Taaza Toned Fresh Milk</h5>
                        <h6>50ml</h6>
                        <h6>Amul</h6>
                        <div class="subContent">
                            <h6>₹27</h6>
                            <button>Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="item23 card">
                    <figure>
                        <img src="{% static 'shop/milk.jpg' %}" alt="Amul Doodh peeta  hai India" class="card__img">
                    </figure>
                    <div class="content">
                        <h5>Amul Taaza Toned Fresh Milk</h5>
                        <h6>50ml</h6>
                        <h6>Amul</h6>
                        <div class="subContent">
                            <h6>₹27</h6>
                            <button>Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="item24 card">
                    <figure>
                        <img src="{% static 'shop/milk.jpg' %}" alt="Amul Doodh peeta  hai India" class="card__img">
                    </figure>
                    <div class="content">
                        <h5>Amul Taaza Toned Fresh Milk</h5>
                        <h6>50ml</h6>
                        <h6>Amul</h6>
                        <div class="subContent">
                            <h6>₹27</h6>
                            <button>Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="item25 card">
                    <figure>
                        <img src="{% static 'shop/milk.jpg' %}" alt="Amul Doodh peeta  hai India" class="card__img">
                    </figure>
                    <div class="content">
                        <h5>Amul Taaza Toned Fresh Milk</h5>
                        <h6>50ml</h6>
                        <h6>Amul</h6>
                        <div class="subContent">
                            <h6>₹27</h6>
                            <button>Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="item26 card">
                    <figure>
                        <img src="{% static 'shop/milk.jpg' %}" alt="Amul Doodh peeta  hai India" class="card__img">
                    </figure>
                    <div class="content">
                        <h5>Amul Taaza Toned Fresh Milk</h5>
                        <h6>50ml</h6>
                        <h6>Amul</h6>
                        <div class="subContent">
                            <h6>₹27</h6>
                            <button>Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="item27 card">
                    <figure>
                        <img src="{% static 'shop/milk.jpg' %}" alt="Amul Doodh peeta  hai India" class="card__img">
                    </figure>
                    <div class="content">
                        <h5>Amul Taaza Toned Fresh Milk</h5>
                        <h6>50ml</h6>
                        <h6>Amul</h6>
                        <div class="subContent">
                            <h6>₹27</h6>
                            <button>Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="item28 card">
                    <figure>
                        <img src="{% static 'shop/milk.jpg' %}" alt="Amul Doodh peeta  hai India" class="card__img">
                    </figure>
                    <div class="content">
                        <h5>Amul Taaza Toned Fresh Milk</h5>
                        <h6>50ml</h6>
                        <h6>Amul</h6>
                        <div class="subContent">
                            <h6>₹27</h6>
                            <button>Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="item29 card">
                    <figure>
                        <img src="{% static 'shop/milk.jpg' %}" alt="Amul Doodh peeta  hai India" class="card__img">
                    </figure>
                    <div class="content">
                        <h5>Amul Taaza Toned Fresh Milk</h5>
                        <h6>50ml</h6>
                        <h6>Amul</h6>
                        <div class="subContent">
                            <h6>₹27</h6>
                            <button>Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="item30 card">
                    <figure>
                        <img src="{% static 'shop/milk.jpg' %}" alt="Amul Doodh peeta  hai India" class="card__img">
                    </figure>
                    <div class="content">
                        <h5>Amul Taaza Toned Fresh Milk</h5>
                        <h6>50ml</h6>
                        <h6>Amul</h6>
                        <div class="subContent">
                            <h6>₹27</h6>
                            <button>Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        let more=document.getElementsByClassName("more")[0];
        let moreLink=document.getElementsByClassName("more")[1];
        var x=0;
        more.onclick=()=>{
            x++;
            console.log(x);
            let dropdown=document.getElementsByClassName("dropdown")[0];
            dropdown.classList.toggle("makeVisible");
            if(x%2!=0)
            {
                moreLink.innerHTML="More &#8963;";
                console.log("In If")
            }
            else
            {
                moreLink.innerHTML="More &#8964;";
                console.log("In else")
            }
        }
    </script>
</body>
</html>