<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index2_style.css">
</head>

<body>
    <div class="gridContainer">
        <div class="flex">
            <ul>
                <li class="horizontalItem1">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem2 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem3 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem4 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem5 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem6 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem7 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem8 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem9 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem10 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem11 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem12 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem13 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem14 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem15 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem16 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem17 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem18 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem19 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem20 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem21 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem22 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem23 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem24 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem25 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem26 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem27 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem28 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem29 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem30 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem30 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem30 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem30 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem30 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem30 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem30 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem30 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem30 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem30 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem30 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem30 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem30 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem30 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem30 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem30 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem30 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem30 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem30 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem30 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem30 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem30 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem30 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem30 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem30 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem30 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem30 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem30 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem30 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem30 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem30 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem30 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem30 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem30 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem30 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem30 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem30 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
                <li class="horizontalItem30 horizontalCard">
                    <img src="Fruits-and-Vegetables.jpg" alt="" class="horizontalImg">
                    <h5>Fresh Vegetables</h5>
                </li>
            </ul>
        </div>
        <div class="grid">
            <div class="item2 card">
                <figure>
                    <img src="milk.jpg" alt="Amul Doodh peeta  hai India" class="card__img">
                </figure>
                <div class="content">
                    <h5>Amul Taaza Toned Fresh Milk</h5>
                    <h6>50ml</h6>
                    <div class="subContent">
                        <h6>₹27</h6>
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="item3 card">
                <figure>
                    <img src="milk.jpg" alt="Amul Doodh peeta  hai India" class="card__img">
                </figure>
                <div class="content">
                    <h5>Amul Taaza Toned Fresh Milk</h5>
                    <h6>50ml</h6>
                    <div class="subContent">
                        <h6>₹27</h6>
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="item4 card">
                <figure>
                    <img src="milk.jpg" alt="Amul Doodh peeta  hai India" class="card__img">
                </figure>
                <div class="content">
                    <h5>Amul Taaza Toned Fresh Milk</h5>
                    <h6>50ml</h6>
                    <div class="subContent">
                        <h6>₹27</h6>
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="item5 card">
                <figure>
                    <img src="milk.jpg" alt="Amul Doodh peeta  hai India" class="card__img">
                </figure>
                <div class="content">
                    <h5>Amul Taaza Toned Fresh Milk</h5>
                    <h6>50ml</h6>
                    <div class="subContent">
                        <h6>₹27</h6>
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="item6 card">
                <figure>
                    <img src="milk.jpg" alt="Amul Doodh peeta  hai India" class="card__img">
                </figure>
                <div class="content">
                    <h5>Amul Taaza Toned Fresh Milk</h5>
                    <h6>50ml</h6>
                    <div class="subContent">
                        <h6>₹27</h6>
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="item7 card">
                <figure>
                    <img src="milk.jpg" alt="Amul Doodh peeta  hai India" class="card__img">
                </figure>
                <div class="content">
                    <h5>Amul Taaza Toned Fresh Milk</h5>
                    <h6>50ml</h6>
                    <div class="subContent">
                        <h6>₹27</h6>
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="item8 card">
                <figure>
                    <img src="milk.jpg" alt="Amul Doodh peeta  hai India" class="card__img">
                </figure>
                <div class="content">
                    <h5>Amul Taaza Toned Fresh Milk</h5>
                    <h6>50ml</h6>
                    <div class="subContent">
                        <h6>₹27</h6>
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="item9 card">
                <figure>
                    <img src="milk.jpg" alt="Amul Doodh peeta  hai India" class="card__img">
                </figure>
                <div class="content">
                    <h5>Amul Taaza Toned Fresh Milk</h5>
                    <h6>50ml</h6>
                    <div class="subContent">
                        <h6>₹27</h6>
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="item10 card">
                <figure>
                    <img src="milk.jpg" alt="Amul Doodh peeta  hai India" class="card__img">
                </figure>
                <div class="content">
                    <h5>Amul Taaza Toned Fresh Milk</h5>
                    <h6>50ml</h6>
                    <div class="subContent">
                        <h6>₹27</h6>
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="item11 card">
                <figure>
                    <img src="milk.jpg" alt="Amul Doodh peeta  hai India" class="card__img">
                </figure>
                <div class="content">
                    <h5>Amul Taaza Toned Fresh Milk</h5>
                    <h6>50ml</h6>
                    <div class="subContent">
                        <h6>₹27</h6>
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="item11 card">
                <figure>
                    <img src="milk.jpg" alt="Amul Doodh peeta  hai India" class="card__img">
                </figure>
                <div class="content">
                    <h5>Amul Taaza Toned Fresh Milk</h5>
                    <h6>50ml</h6>
                    <div class="subContent">
                        <h6>₹27</h6>
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="item12 card">
                <figure>
                    <img src="milk.jpg" alt="Amul Doodh peeta  hai India" class="card__img">
                </figure>
                <div class="content">
                    <h5>Amul Taaza Toned Fresh Milk</h5>
                    <h6>50ml</h6>
                    <div class="subContent">
                        <h6>₹27</h6>
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="item13 card">
                <figure>
                    <img src="milk.jpg" alt="Amul Doodh peeta  hai India" class="card__img">
                </figure>
                <div class="content">
                    <h5>Amul Taaza Toned Fresh Milk</h5>
                    <h6>50ml</h6>
                    <div class="subContent">
                        <h6>₹27</h6>
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="item14 card">
                <figure>
                    <img src="milk.jpg" alt="Amul Doodh peeta  hai India" class="card__img">
                </figure>
                <div class="content">
                    <h5>Amul Taaza Toned Fresh Milk</h5>
                    <h6>50ml</h6>
                    <div class="subContent">
                        <h6>₹27</h6>
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="item15 card">
                <figure>
                    <img src="milk.jpg" alt="Amul Doodh peeta  hai India" class="card__img">
                </figure>
                <div class="content">
                    <h5>Amul Taaza Toned Fresh Milk</h5>
                    <h6>50ml</h6>
                    <div class="subContent">
                        <h6>₹27</h6>
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="item16 card">
                <figure>
                    <img src="milk.jpg" alt="Amul Doodh peeta  hai India" class="card__img">
                </figure>
                <div class="content">
                    <h5>Amul Taaza Toned Fresh Milk</h5>
                    <h6>50ml</h6>
                    <div class="subContent">
                        <h6>₹27</h6>
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="item17 card">
                <figure>
                    <img src="milk.jpg" alt="Amul Doodh peeta  hai India" class="card__img">
                </figure>
                <div class="content">
                    <h5>Amul Taaza Toned Fresh Milk</h5>
                    <h6>50ml</h6>
                    <div class="subContent">
                        <h6>₹27</h6>
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="item18 card">
                <figure>
                    <img src="milk.jpg" alt="Amul Doodh peeta  hai India" class="card__img">
                </figure>
                <div class="content">
                    <h5>Amul Taaza Toned Fresh Milk</h5>
                    <h6>50ml</h6>
                    <div class="subContent">
                        <h6>₹27</h6>
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="item19 card">
                <figure>
                    <img src="milk.jpg" alt="Amul Doodh peeta  hai India" class="card__img">
                </figure>
                <div class="content">
                    <h5>Amul Taaza Toned Fresh Milk</h5>
                    <h6>50ml</h6>
                    <div class="subContent">
                        <h6>₹27</h6>
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="item20 card">
                <figure>
                    <img src="milk.jpg" alt="Amul Doodh peeta  hai India" class="card__img">
                </figure>
                <div class="content">
                    <h5>Amul Taaza Toned Fresh Milk</h5>
                    <h6>50ml</h6>
                    <div class="subContent">
                        <h6>₹27</h6>
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="item21 card">
                <figure>
                    <img src="milk.jpg" alt="Amul Doodh peeta  hai India" class="card__img">
                </figure>
                <div class="content">
                    <h5>Amul Taaza Toned Fresh Milk</h5>
                    <h6>50ml</h6>
                    <div class="subContent">
                        <h6>₹27</h6>
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="item22 card">
                <figure>
                    <img src="milk.jpg" alt="Amul Doodh peeta  hai India" class="card__img">
                </figure>
                <div class="content">
                    <h5>Amul Taaza Toned Fresh Milk</h5>
                    <h6>50ml</h6>
                    <div class="subContent">
                        <h6>₹27</h6>
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="item23 card">
                <figure>
                    <img src="milk.jpg" alt="Amul Doodh peeta  hai India" class="card__img">
                </figure>
                <div class="content">
                    <h5>Amul Taaza Toned Fresh Milk</h5>
                    <h6>50ml</h6>
                    <div class="subContent">
                        <h6>₹27</h6>
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="item24 card">
                <figure>
                    <img src="milk.jpg" alt="Amul Doodh peeta  hai India" class="card__img">
                </figure>
                <div class="content">
                    <h5>Amul Taaza Toned Fresh Milk</h5>
                    <h6>50ml</h6>
                    <div class="subContent">
                        <h6>₹27</h6>
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="item25 card">
                <figure>
                    <img src="milk.jpg" alt="Amul Doodh peeta  hai India" class="card__img">
                </figure>
                <div class="content">
                    <h5>Amul Taaza Toned Fresh Milk</h5>
                    <h6>50ml</h6>
                    <div class="subContent">
                        <h6>₹27</h6>
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="item26 card">
                <figure>
                    <img src="milk.jpg" alt="Amul Doodh peeta  hai India" class="card__img">
                </figure>
                <div class="content">
                    <h5>Amul Taaza Toned Fresh Milk</h5>
                    <h6>50ml</h6>
                    <div class="subContent">
                        <h6>₹27</h6>
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="item27 card">
                <figure>
                    <img src="milk.jpg" alt="Amul Doodh peeta  hai India" class="card__img">
                </figure>
                <div class="content">
                    <h5>Amul Taaza Toned Fresh Milk</h5>
                    <h6>50ml</h6>
                    <div class="subContent">
                        <h6>₹27</h6>
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="item28 card">
                <figure>
                    <img src="milk.jpg" alt="Amul Doodh peeta  hai India" class="card__img">
                </figure>
                <div class="content">
                    <h5>Amul Taaza Toned Fresh Milk</h5>
                    <h6>50ml</h6>
                    <div class="subContent">
                        <h6>₹27</h6>
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="item29 card">
                <figure>
                    <img src="milk.jpg" alt="Amul Doodh peeta  hai India" class="card__img">
                </figure>
                <div class="content">
                    <h5>Amul Taaza Toned Fresh Milk</h5>
                    <h6>50ml</h6>
                    <div class="subContent">
                        <h6>₹27</h6>
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="item30 card">
                <figure>
                    <img src="milk.jpg" alt="Amul Doodh peeta  hai India" class="card__img">
                </figure>
                <div class="content">
                    <h5>Amul Taaza Toned Fresh Milk</h5>
                    <h6>50ml</h6>
                    <div class="subContent">
                        <h6>₹27</h6>
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="item31 card">
                <figure>
                    <img src="milk.jpg" alt="Amul Doodh peeta  hai India" class="card__img">
                </figure>
                <div class="content">
                    <h5>Amul Taaza Toned Fresh Milk</h5>
                    <h6>50ml</h6>
                    <div class="subContent">
                        <h6>₹27</h6>
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="item32 card">
                <figure>
                    <img src="milk.jpg" alt="Amul Doodh peeta  hai India" class="card__img">
                </figure>
                <div class="content">
                    <h5>Amul Taaza Toned Fresh Milk</h5>
                    <h6>50ml</h6>
                    <div class="subContent">
                        <h6>₹27</h6>
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="item33 card">
                <figure>
                    <img src="milk.jpg" alt="Amul Doodh peeta  hai India" class="card__img">
                </figure>
                <div class="content">
                    <h5>Amul Taaza Toned Fresh Milk</h5>
                    <h6>50ml</h6>
                    <div class="subContent">
                        <h6>₹27</h6>
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="item34 card">
                <figure>
                    <img src="milk.jpg" alt="Amul Doodh peeta  hai India" class="card__img">
                </figure>
                <div class="content">
                    <h5>Amul Taaza Toned Fresh Milk</h5>
                    <h6>50ml</h6>
                    <div class="subContent">
                        <h6>₹27</h6>
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="item35 card">
                <figure>
                    <img src="milk.jpg" alt="Amul Doodh peeta  hai India" class="card__img">
                </figure>
                <div class="content">
                    <h5>Amul Taaza Toned Fresh Milk</h5>
                    <h6>50ml</h6>
                    <div class="subContent">
                        <h6>₹27</h6>
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1>Hello World How are you?</h1>
</body>

</html>