<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'shop/landing.css' %}">
    <title>Flying Groceries</title>
</head>
<body>
    <div>
        <img src="{% static 'shop/Company_logo.PNG' %}" alt="" class="image">
    </div>
    <div>
        <a href="/caretaker/login">
             <button class="buttons">Sign in as Admin</button>
        </a>
        <a href="/appusers/customer/login">
            <button class="buttons">Sign in as Customer</button>
        </a>
        <a href="/appusers/transporter/login">
            <button class="buttons">Sign in as Transporter</button>
        </a>
    </div>    
</body>
</html>