<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Sign Up</title>
    <link rel="stylesheet" href="signup.css">
</head>
<body>
    <header>
        <img src="Company_logo.PNG" alt="">
    </header>
    <form action="" method="POST" class="customerSignup">
        <div class="container">
            <h3>Customer Signup Form</h3>
            <div class="FirstName">
                <label for="firstName">First Name</label>
                <input type="text" placeholder="First Name">
            </div>
            <div class="LastName">
                <label for="lastName">Last Name</label>
                <input type="text" placeholder="Last Name">
            </div>
            <div class="UserName">
                <label for="userName" placeholder="Username">Username</label>
                <input type="text" placeholder="Username" id="userName">
            </div>
            <div class="Password">
                <label for="password">Password</label>
                <input type="password" placeholder="Password" id="password">
            </div>
            <div class="ConfirmPassword">
                <label for="confirmedPassword">Confirm Password</label>
                <input type="text" id="confirmedPassword" placeholder = "Confirm Password">
            </div>
            <div class="ContactNumber">
                <label for="contactNumber">Contact Number</label>
                <input type="number" id="contactNumber" placeholder="Phone Number">
            </div>
            <div class="HouseNumber">
                <label for="houseNumber">House Number</label>
                <input type="text" id="houseNumber" placeholder="House Number">
            </div>
            <div class="Pincode">
                <label for="pincode">Pincode</label>
                <input type="number" id="pincode" placeholder="Pincode">
            </div>
            <div class="City">
                <label for="city">City</label>
                <input type="text" id="city" placeholder="City">
            </div>
            <div class="Locality">
                <label for="locality">Locality</label>
                <input type="text" id="locality" placeholder="Locality">
            </div>
            <button type="submit">Submit</button>
            <a href="http://127.0.0.1:8000/customer/login" class="loginLink">Already an exsisting user? Login</a>
        </div>
    </form>
</body>
</html>