{% extends 'appusers/sidebar_transporter.html' %}
{% load static %}

{% block scripts %}
<link rel="stylesheet" href="{% static 'appusers/profile.css' %}">
{% endblock %}

{% block body %}
<div class="mainContent">
    <form action="" class="accountDetails" method="POST">
        {% csrf_token %}
        <div class="item pic">
            <h3>Profile Picture</h3>
            <div class="innerInfo">
                <img src="{% static 'caretaker/user.png' %}" alt="User Profile Picture" class="profilePicture">
                <button class="uploadPic btn">Upload Picture</button>
            </div>
        </div>
        <div class="item personalInfo">
            <h3>Personal Information</h3>
            <div class="FirstName innerInfo">
                <label for="firstName">First Name</label>
                <input type="text" placeholder="First Name" id="firstName" name="firstName" value="{{firstName}}">
            </div>
            <div class="MiddleName innerInfo">
                <label for="middleName">Middle Name</label>
                <input type="text" placeholder="Middle Name" id="middleName" name="middleName" value ="{{middleName}}">
            </div>
            <div class="LastName innerInfo">
                <label for="lastName">Last Name</label>
                <input type="text" placeholder="Last Name" id="lastName" name="lastName" value="{{lastName}}">
            </div>
        </div>
        <div class="item AccountInformation">
            <h3>Account Information</h3>
            <div class="Username innerInfo">
                <label for="username">Username</label>
                <input type="text" placeholder="Username" id="username" name="username" value="{{username}}">
            </div>
            <div class="Password innerInfo">
                <label for="password">Password</label>
                <input type="password" placeholder="password" id="password" name="password" value="{{password}}">
            </div>
            <div class="PhoneNumber innerInfo">
                <label for="phoneNumber">Phone Number</label>
                <input type="number" placeholder="Phone Number" id="phoneNumber" name="phoneNumber" value="{{phoneNumber}}">
            </div>
        </div>
        <div class="item employeeInfo">
            <h3>Employee Information</h3>
            <div class="TransporterId innerInfo">
                <label for="transporterId">Transporter Id</label>
                <input type="number" id="transporterId" placeholder="id" value = "{{id}}" name="id">
            </div>
            <div class="ActiveOrders innerInfo">
                <label for="activeOrders">Active Orders</label>
                <input type="text" placeholder="0" id="activeOrders" name = "activeOrders" value="{{currentActiveOrders}}">
            </div>
            <div class="Salary innerInfo">
                <label for="salary">Salary</label>
                <input type="number" id="salary" placeholder="Salary" name="salary" step="any"  value = "{{salary}}">
            </div>
            <button class="btn">Save Changes</button>
        </div>
    </form>
</div>
<script>
    let activeOrders = document.getElementById("activeOrders")
    let salary = document.getElementById("salary")
    let id = document.getElementById("transporterId")
    activeOrders.onclick=()=>{
        activeOrders.disabled=true;
        alert("Not Allowed")
    }
    salary.onclick=()=>{
        salary.disabled=true;
        alert("Not Allowed")
    }
    id.onclick=()=>{
        id.disabled=true;
        alert("Not Allowed")
    }


    let accountDetails = document.getElementsByClassName("accountDetails")[0];
    accountDetails.onsubmit=()=>{
        activeOrders.disabled=false;
        salary.disabled=false;
        return true;
    }
</script>
{% endblock %}