@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*,*::before,*::after{
    box-sizing: border-box;
}
body{
    margin:0px;
    font-family: 'Roboto',sans-serif;
    font-size: 1.3rem;
}
img{
    max-width: 100%;
}
.mainContainer{
    display: flex;
    margin:0px;
    padding:0px;
    /* border: 2px solid brown; */
}
.nav::-webkit-scrollbar{
    display: none;
}
/*             Styling the side bar            */
.nav{
    height: 100vh;
    width:25%;
    overflow-y: auto;
}
.sidebar__content{
    list-style: none;
    margin:0;
    padding:0;
    /* height: 100%; */
    font-size: 1.2rem;
    /* border: 2px solid blue; */
}
.sidebar__img{
    width:120px;
    height: 100px;
}
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top:2.2em;
    border: 2px solid black;
    height: 100vh;
}
.sidebar__content__item{
    display: flex;
    align-items: center;
    gap:1em;
    font-size:1.4rem;
    border-bottom:2px solid rgb(180, 176, 176);
    padding:0px;
    margin:0px;
}
.sidebar__content__item:hover{
    background-color: hsl(100,70%,60%);
    cursor: pointer;
    color: white;
    text-decoration: underline;
}
.sidebar__content__item a:hover{
    color:white;
    text-decoration: underline;
}
.item-1:hover{
    background-color: white;
    color:black;
    cursor: pointer;
    text-decoration: underline;
}
.item-1 a:hover{
    color:black;
    text-decoration: underline;
}
a{
    color:black;
}
a:visited{
    color:black;
}
.logout{
    /* filter:invert(60) */
    /* border: 2px solid red; */
    margin-bottom:1em;
    /* padding:1.2em 1.6em; */
    display: flex;
    align-items: center;
    font-size:1.4rem;
    padding-left:1.2em;
    gap:1em;
}
.manageInventory{
    width:100%;
    display: none;
    background-color: hsl(100,70%,60%);
    border: 2px solid rgb(180, 176, 176);
    list-style: "\270D";
    line-height: 2em;
    padding:2em;
}
.manageInventory:hover{
    color:white;
}
.manageInventory a:hover{
    text-decoration: underline;
}
.inventory{
    /* border:2px solid red; */
    display: flex;
    width:100%;
    align-items: center;
    text-align: center;
    gap:1em;
    text-decoration: underline;
    /* display: none; */
}
.inventory figcaption{
    width:80%;
    padding:0px;
    margin:0px;
    text-align: left;
}
.inventory img{
    width: 41%;
}
.logout:hover{
    background-color: rgb(231, 112, 112);;
}
.logout a:hover{
    text-decoration: underline;
    color: white;
}
.logoutimg{
    scale:0.6;
}
#profileImg{
    scale:0.48;
}