{% extends 'caretaker/sidebar.html' %}
{% load static %}

{% block scripts %}
<link rel="stylesheet" href="{% static 'caretaker/profile.css' %}">
{% endblock %}

{% block body %}
<div class="mainContent">
    <form action="" class="accountDetails" method="POST">
        {% csrf_token %}
        <div class="item" class="pic">
            <h3>Profile Picture</h3>
            <div class="innerInfo">
                <img src="{% static 'caretaker/user.png' %}" alt="User Profile Picture" class="profilePicture">
                <button class="uploadPic btn">Upload Picture</button>
            </div>
        </div>
        <div class="item personalInfo">
            <h3>Personal Information</h3>
            <div class="FirstName innerInfo">
                <label for="firstName">First Name</label>
                <input type="text" placeholder="First Name" value="{{firstName}}" name="firstName">
            </div>
            <div class="middleName innerInfo">
                <label for="middleName">Middle Name</label>
                <input type="text" placeholder="Middle Name" value="{{middleName}}" name="middleName">
            </div>
            <div class="lastName innerInfo">
                <label for="lastName">Last Name</label>
                <input type="text" placeholder="Last Name" value="{{lastName}}"  name="lastName">
            </div>
        </div>
        <div class="item AccountInformation">
            <h3>Personal Information</h3>
            <div class="adminId innerInfo">
                <label for="adminId">AdminId</label>
                <input type="text" placeholder="Admin Id" value="{{id}}" name="adminId" disabled>
            </div>
            <div class="Username innerInfo">
                <label for="firstName">Username</label>
                <input type="text" placeholder="Username" value="{{username}}" name="userName">
            </div>
            <div class="password innerInfo">
                <label for="middleName">Password</label>
                <input type="password" placeholder="Password" value="{{pwd}}" name="password">
            </div>
            <button class="btn" type="submit">Save Changes</button>
        </div>
    </form>
</div>
{% endblock %}
