<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'caretaker/sidebar.css' %}">
    {% block scripts %} {% endblock %}
</head>
<body>
    <div class="mainContainer">
        <aside class="nav">
            <div class="sidebar">
                <ul class="sidebar__content">
                    <li class="sidebar__content__item item-1">
                        <img src="{% static 'caretaker/Company_logo.PNG' %}" class="sidebar__img" alt="" id="mainLogo">
                        <a href="/shop/home"><figcaption>Flying Groceries</figcaption></a>
                    </li>
                    <li class="sidebar__content__item item-5">
                        <img src="{% static 'caretaker/profile.png' %}" alt="" class="sidebar__img" id="profileImg">
                        <a href="/caretaker/profile"><figcaption class="profileCap">Your Profile</figcaption></a>
                    </li>
                    <li class="sidebar__content__item item-2">
                        <img src="{% static 'caretaker/user.png' %}" alt="" class="sidebar__img">
                        <a href="/caretaker/requests"><figcaption>Transporter-Requests</figcaption></a>
                    </li>
                    <li class="sidebar__content__item item-2">
                        <img src="{% static 'caretaker/user.png' %}" alt="" class="sidebar__img">
                        <a href="/caretaker/approved"><figcaption>Approved Transporters</figcaption></a>
                    </li>
                    <li class="sidebar__content__item item-3">
                        <img src="{% static 'caretaker/graph.png' %}" alt="" class="sidebar__img" alt="">
                        <a href="/caretaker/analytics"><figcaption>Analytics</figcaption></a>
                    </li>
                    <li class="sidebar__content__item item-4">
                        <div class="inventory">
                            <img src="{% static 'caretaker/graph.png' %}" alt="" class="sidebar__img" alt="">
                            <figcaption>Inventory</figcaption>
                        </div>
                        <ul class="manageInventory">
                            <li><a href="/caretaker/inventory/addCategory">Add Category</a></li>
                            <li><a href="/caretaker/inventory/addSubCategory">Add SubCategory</a></li>
                            <li><a href="/caretaker/inventory/addProduct">Add Product</a></li>
                            <li><a>Manage Products</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="logout">
                    <img src="{% static 'caretaker/logout.png' %}" alt="" class="logoutimg">
                    <a href="/caretaker/logout"><figcaption>Logout</figcaption></a>
                </div>
            </div>
        </aside>
        {% block body %} {% endblock %}
    </div>
    <script>
        let inventory = document.getElementsByClassName("inventory")[0];
        let manageInventory = document.getElementsByClassName("manageInventory")[0];
        inventory.onmouseover=(e)=>{
                inventory.style.display="none";
                manageInventory.style.display ="block";
        }
        manageInventory.onmouseover=(e)=>{
            inventory.style.display="none";
            manageInventory.style.display ="block";
        }
        manageInventory.onmouseout=(e)=>{
            manageInventory.style.display="none";
            inventory.style.display="flex";
        }
    </script>
</body>
</html>